<%= turbo_frame_tag item do %>
<div class="flex flex-row justify-between items-start my-3 bg-white rounded shadow-xl w-96">
  <%= form_with(model: item) do |f| %>
    <div class="flex flex-row">
      <%= f.check_box :completed, onchange: "this.form.requestSubmit();", :class => "m-2 rounded-full" %>
      <p class="m-2"><%= item.description %></p>
    </div>
<% end %>
    <%= button_to 'D', item_path(item), method: :delete, class: "m-1 h-full" %>
</div>
<% end %>
