
<div class="p-10 max-w-screen-sm">
  <h1 class="mb-4 text-4xl text-center text-green-900 font-sans tracking-widest">
    TODO
  </h1>
  <%= render "items/form", item: @item %> 
  <%= turbo_frame_tag "items" do %>
      <%= render @items %>
  <% end %>
  <div class="text-gray-500">
    <%= @completed_count %> of 
    <span id="total_count">
      <%= @items.count %> 
    </span>
    items
  </div>
</div>