<!DOCTYPE html>
<html>
  <head>
    <title>Hotwire Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/7282cd0077.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gradient-to-r from-red-200 via-yellow-200 to-teal-200 flex justify-center">
    <%= yield %>
  </body>
</html>
