<!DOCTYPE html>
<html>
  <head>
    <title>Hotwire Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/7282cd0077.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
  </head>

  <body class="bg-[url('todo-background.jpg')] flex justify-center backdrop-blur-md h-screen">
    <%= yield %>
  </body>
</html>
